# Visual Studio 2015/2017 cache/options directory
.vs/
# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

Temp/
#Project/Bin/Launcher_Debug.exe
Project/Bin/Launcher_Debug.idb
Project/Lib/Game_Debug.lib
*.psd
*.png
Bin/vcruntime140d.dll
Bin/vcruntime140_1d.dll
Bin/ucrtbased.dll
Bin/DLL_Fix/msvcp140d.dll
Bin/DLL_Fix/ucrtbased.dll
Bin/DLL_Fix/vcruntime140_1d.dll
Bin/DLL_Fix/vcruntime140d.dll
Bin/msvcp140d.dll
